<div class="col-sm-10 offset-sm-1">
    {{#each activeModel as |episode|}}
        {{episode-card episode=episode class="episode-card"}}
    {{/each}}
    {{#if moreEpisodes}}
        <div class="text-center mb-3">
            <button type="btn" class="btn btn-primary" {{action 'fetchMorePages'}}>More Episodes</button>
        </div>
    {{/if}}
</div>
