<div class="col-sm-12 col-xl-10 offset-xl-1">
    {{#each model as |episode|}}
        {{episode-card episode=episode class="episode-card"}}
    {{/each}}
    {{#if moreEpisodes}}
        <div class="text-center mb-3">
            <button type="btn" class="btn btn-primary" {{action 'fetchMorePages'}}>More Episodes</button>
        </div>
    {{/if}}
</div>
