<div class="row" {{action 'toggleTableVisibility'}}>
    <div class="col-1 pl-4 pb-1">
        {{expand-collapse-chevron tagName='' size=2 expanded=expanded}}
    </div>
    <div class="col-10 text-center">
        <h2>{{tier.name}}</h2>
    </div>
</div>
{{#if expanded}}
    {{#liquid-spacer}}
        {{table-component tier=tier}}
    {{/liquid-spacer}}
{{/if}}
