<div class="w-100 d-inline-flex flex-row justify-content-between">
  <iframe class= {{if media.isMobile "w-100" "w-50"}} frameborder='0' height='200px' scrolling='no' seamless src='https://embed.simplecast.com/{{episode.id}}?color=3d3d3d'></iframe>
  {{#unless media.isMobile}}
    <div class="w-45">
      <div class="episode-description {{if media.isMobile 'text-justify'}}">
        {{if episode.description episode.description "We're lazy fucks, so there isn't a
      description for this episode!"}}
      </div>
    </div>
    {{/unless}}
</div>
